// Colors

$yellow: #fbaf00;
$blue: #22333b;
$white: #f2f4f3;
$green: #659157;
$wine: #6e0d25;
$black: #000;

// Transitions

$ease-out: all 0.3s ease-out;

// Shadows
$shadow: 5px 5px 10px rgba(34, 51, 59, 0.5);
